<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="decrementMonth()">Previous</button>
    <button (click)="today()">Today</button>
    <button (click)="incrementMonth()">Next</button>
  </div>
  <h3>{{ viewDate | calendarDate: 'monthViewTitle' : 'en' }}</h3>
  <ng-template #customCellTemplate let-day="day">
    <div class="cal-cell-top">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':'en' }}</span>
    </div>
    <div class="cell-content">
      <div *ngIf="day.events.length > 0">
        <div *ngIf="day.events.length === 1; else multipleEvents">
          <div class="event-entry" [style.border-left-color]="day.events[0].color.primary">
            <strong>{{ day.events[0].meta.personName }}</strong> - {{ day.events[0].meta.contentTypeName }}
          </div>
        </div>
        <ng-template #multipleEvents>
          <div *ngFor="let event of day.events" class="event-entry" [style.border-left-color]="event.color.primary">
            {{ event.meta.personName }}
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>

  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="calendarEvents"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    [cellTemplate]="customCellTemplate"
  >
  </mwl-calendar-month-view>
</div>
