<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="decrementMonth()">Previous</button>
    <button (click)="today()">Today</button>
    <button (click)="incrementMonth()">Next</button>
  </div>
  <h3>{{ viewDate | calendarDate: 'monthViewTitle' : 'en' }}</h3>
  <ng-template #customCellTemplate let-day="day">
    <div class="cal-cell-top">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':'en' }}</span>
    </div>
    <div class="cell-content">
      <div *ngIf="day.events.length > 0">
        <div *ngIf="day.events.length === 1; else multipleEvents">
          <div class="event-entry prominent-event-entry"
               [style.background-color]="day.events[0].color.primary"
               [style.color]="getContrastColor(day.events[0].color.primary)">
            <div class="event-person">{{ day.events[0].meta.personName }}</div>
            <div class="event-type">{{ day.events[0].meta.contentTypeName }}</div>
          </div>
        </div>
        <ng-template #multipleEvents>
          <ng-container *ngFor="let event of getSlice(day.events, 2)">
            <div class="event-entry name-only-entry"
                 [style.background-color]="event.color.primary"
                 [style.color]="getContrastColor(event.color.primary)">
              <div class="event-person">{{ event.meta.personName }}</div>
            </div>
          </ng-container>
          <div *ngIf="day.events.length > 2" class="more-indicator">
            +{{ day.events.length - 2 }} more
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>

  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="calendarEvents"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    [cellTemplate]="customCellTemplate"
  >
  </mwl-calendar-month-view>
</div>
